* {
    font-size: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: blue;
}

.centermenu {
    background-color: whitesmoke;
    box-sizing: border-box;
    width: 300px;
    padding: 20px;
    border-radius: 30px;
    margin: 20px auto;
    box-align: center;
}

h1 {
    font-size: 20px;
    text-align: center;
    font-weight: bold;

}

td {
    width: 150px;
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
}

input {
    height: 50px;
    line-height: 25px;
    font-size: 10px;
    width: 50px;
    border-radius: 10px;
}

.topic {
    Display:flex;
    Justify-content: space-between;
}

select {
    height: 30px;
    line-height: 50px;
    font-size: 15px;
    width: 70px;
    border-radius: 10px;
}

option{
    font-size: 20px;
}

.result {
    margin-top: 15px;
    padding-top: 15px;
    border-top: 5px solid gray;
}

p {
    font-size: 25px;
    font-weight: bold;

}

h2 {
    font-size: 30px;
    color: blue;
}

button {
    background-color: blue;
    border: 1px solid #000000;
    cursor: pointer;
    color: #ffffff;
    font-size: 19px;
    padding: 10px 20px;
    border-radius: 10px;
    margin: 10px 10px 10px 340px;
}

@media (min-width: 450px){
    * {
        font-size: 10px;
    }
    .centermenu {
        width: 600px;
    }

    h1 {
        font-size: 35px;
        text-align: center;
        font-weight: bold;
    
    }
    
    td {
        width: 300px;
        font-size: 25px;
        font-weight: bold;
        padding: 10px;
    }

    input {
        height: 30px;
        line-height: 50px;
        font-size: 20px;
        width: 150px;
        border-radius: 10px;
    }
    
    select {
        height: 30px;
        line-height: 50px;
        font-size: 15px;
        width: 150px;
        border-radius: 10px;
    }
    
}